.article-main-image {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
  border-radius: 12px;
  background: #eee;
}
.article-image {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
  display: block;
  border-radius: 12px;
  background: #eee;
}
